@media only screen and (max-width: 700px) {
    .card img {
      max-height: 35vw;
      max-width: 100%;
      object-fit: cover;
      object-position: top; /* ou top left */
    }
    .container-fluid{
        margin: 5vw auto;
    }
  }
  