{%load static%}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/media.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
        style="box-shadow: 20px 20px 80px rgba(56, 56, 56, 0.315);">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-between align-items-center w-100">
                <a target="_blank" href="https://btt-pt.hopghpfa.com/pt/casino?partner=p5192p21840pb04a#registration-bonus"><button id="bonus"
                        class="btn btn-outline-light">🎁 BÔNUS 100%</button></a>
                <style>
                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }

                        50% {
                            transform: scale(1.1);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }

                    .pulse {
                        animation-name: pulse;
                        animation-duration: 1s;
                        animation-timing-function: ease-in-out;
                        animation-iteration-count: 1;
                    }
                </style>
                <script>
                    setInterval(function () {
                        var bonusElement = document.getElementById("bonus");
                        var bonusText = bonusElement.innerHTML;
                        if (bonusText === "🎁 BÔNUS 100%") {
                            bonusElement.innerHTML = "🎁 JOGUE AQUI";
                        } else {
                            bonusElement.innerHTML = "🎁 BÔNUS 100%";
                        }
                        bonusElement.classList.add("pulse");
                        setTimeout(function () {
                            bonusElement.classList.remove("pulse");
                        }, 1000);
                    }, 5000);
                </script>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout'%}" tabindex="-1" aria-disabled="false"><i
                                class="bi bi-box-arrow-right"></i> logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <style>

    </style>

    <div class="fixed-div">
        <div class="marquee" id="nomes-aleatorios">
        </div>
    </div>

    <script>
        var nomes = [
            "João F.",
            "Maria R.",
            "Pedro L.",
            "Lucas S.",
            "Ana C.",
            "Gustavo H.",
            "Henrique S.",
            "Raian P.",
            "Carine A.",
            "Luan S.",
            "Caio V.",
            "Samara C.",
            "Aline G.",
            "Mayara R.",
            "Sônia G.",
            "Paulo H.",
            "Lisa J.",
            "Luisa O.",
            "Fernando P.",
            "Rodrigo M.",
            "Isabela C.",
            "Talita B.",
            "Luciano N.",
            "Roberto F.",
            "Mariana T.",
            "André L.",
            "Juliana S.",
            "Fabiana V.",
            "Renato B.",
            "Nathalia M.",
            "Diego G.",
            "Vanessa C.",
            "Vinícius R.",
            "Renan A.",
            "Marcela P.",
            "Vitoria N.",
            "Thiago D.",
            "Andressa K.",
            "Eduardo J.",
            "Carla M.",
            "Giovanna B.",
            "Rafael C.",
            "Bruna F.",
            "Felipe G.",
            "Mariane S.",
            "Guilherme V.",
            "Julia Z.",
            "Luiz Felipe A.",
            "Monique E.",
            "Carlos T.",
            "Julio P.",
            "Marcelo R.",
            "Patricia L.",
            "Cristina N.",
            "Gabriel Q.",
            "Daniela X.",
            "Hugo W.",
            "Tatiane Y.",
            "Thiago U.",
            "Fábio I.",
            "Bruno H.",
            "Nathalie J.",
            "Leonardo K.",
            "Renata V.",
            "Marina Z.",
            "Robson M.",
            "Amanda N.",
            "Matheus B.",
            "Fernanda C.",
            "Lucas D.",
            "Vanessa E.",
            "Raphael F.",
            "José G.",
            "Cecília H.",
            "Felipe I.",
            "Leandro J.",
            "Vivian L.",
            "Giovanni M.",
            "Silvia N.",
            "Marcelo O.",
            "Bruno P.",
            "Eduarda Q.",
            "Bianca R.",
            "Luiz S.",
            "Fabio T.",
            "Diego U.",
            "Rafael V.",
            "Débora X.",
            "Patrícia Y.",
            "Wesley Z.",
            "Rodolfo A.",
            "Thaís B.",
            "Gabriela C.",
            "Giovani D.",
            "Felipe E.",
            "Renata F.",
            "Beatriz G.",
            "Gustavo H.",
            "Juliana I.",
            "Luciana J.",
            "Juliana K.",
            "Renato L.",
            "Luana M.",
            "Marcela N.",
            "Thiago O.",
            "Luiz P.",
            "Rodrigo Q.",
            "Vanessa R.",
            "Ricardo S.",
            "Henrique T.",
            "Ana V.",
            "Camila W.",
            "Amanda X.",
            "Isabel Y.",
            "Renan Z.",
            "João A.",
            "Mariana B."];

        var jogos = ['Double', 'Mines'];
        var correntes = ['R$', '€'];
        var marquee = document.getElementById('nomes-aleatorios');

        for (var i = 0; i < 100; i++) {
            var indexNome = Math.floor(Math.random() * nomes.length);
            var nome = nomes[indexNome];

            var indexJogo = Math.floor(Math.random() * jogos.length);
            var jogo = jogos[indexJogo];

            var indexCorrente = Math.floor(Math.random() * correntes.length);
            var corrente = correntes[indexCorrente];

            var numero = Math.floor(Math.random() * 701) + 300;

            var p = document.createElement('p');
            p.innerHTML = nome + ' ganhou ' + '<span>' + corrente + " " + numero.toFixed(2) + '</span>' + ' no ' + jogo;

            marquee.appendChild(p);
        }
    </script>



    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div id="margin-content" class="col-sm d-flex justify-content-center">
                <div id="segundocard" class="card bg-dark">
                    <img src="{% static 'homepage/img/mines.png' %}" data-color="#fff" class="card-img-top"
                        alt="Imagem 2">
                    <span class="position-absolute top-0 start-0 badge bg-danger"
                        style="margin-left: 0px; margin-top:15px;">Popular</span>

                    <div class="card-body">
                        <h5 class="card-title">Mines</h5>
                        <a href="{% url 'mines' %}"><input type="submit" class="btn btn-outline-primary"
                                value="Entrar"></a>

                    </div>
                </div>
                <div id="primeirocard" class="card bg-dark">
                    <div class="position-relative">
                        <img src="{% static 'homepage/img/double.png' %}" class="card-img-top" alt="Imagem 1">
                        <span class="position-absolute top-0 start-0 badge bg-danger"
                            style="margin-left: 0px; margin-top:15px;">Novo</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Double</h5>
                        <button class="btn btn-outline-danger"
                            onclick=window.location.href='{% url "double" %}'>Entrar</button>
                    </div>
                </div>

                <div id="terceirocard" class="card bg-dark">
                    <img src="{% static 'homepage/img/teste.png' %}" class="card-img-top" alt="Imagem 3">
                    <span class="position-absolute top-0 start-0 badge bg-danger"
                        style="margin-left: 0px; margin-top:15px;">Lançamento</span>
                    <div class="card-body">

                        <h5 class="card-title">Aviatrix</h5>
                        <button class="btn btn-outline-danger" style="border-color:pink ; color:pink"
                            onclick=window.location.href='{% url "aviatrix" %}'>Entrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<footer class="bg-dark text-white text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-6" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 - 2026 Copyright:
        <a class="text-white" href="http://www.hackdasminas.com">www.hackdasminas.com</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>