{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pressell/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'pressell/css/media.css' %}">
    <title>Pressell</title>
</head>

<body>
    <div class="container">
        <div class="borda">
            <div class="container-img">
                <img src="{% static 'mines/img/logo.png'%}" alt="logo">
            </div>
            <center>
                <div class="headline">
                    <span style="color: #FFF">ACESSO TOTAL <span style="color: rgb(2, 230, 2);">100% LIBERADO.</span></span>
                </div>
            </center>
            <center>
            <div class="subtitle">
                <span>Parabéns, você foi um dos 50 selecionados a ganhar nosso:</span>
            </div>
            </center>
            <center>
            <div class="subtitle-2">
                <span>CURSO GRÁTIS + SALA VIPE DE TREINAMENTO GRATUITA + SUPORTE EXCLUISIVO DA MINA EQUIPE.</span>
            </div>
            </center>
            <center>
            <div class="last-headline">
                <span>Receba seu acesso usando o aplicativo WHATSAPP <span style="font-style: italic;">clicando no botão abaixo:</span></span>
            </div>
            </center>
            <div class="button">
                <a href="https://bit.ly/hackerdasminas"><input type="button" value="ENVIAR MENSAGEM NO WHATSAPP"></a>
            </div>
        </div>
    </div>
</body>

</html>