{% load static %}
<!DOCTYPE html>
<html lang="pt">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pressell/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'pressell/css/media.css' %}">
    <title>Pressell</title>
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '957114822124210');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=957114822124210&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->
</head>

<body>
    <div class="container">
        <div class="borda">
            <div class="container-img">
                <img src="{% static 'mines/img/logo.png'%}" alt="logo">
            </div>
            <center>
                <div class="headline">
                    <span style="color: #FFF">ACESSO TOTAL <span style="color: rgb(2, 230, 2);">100% LIBERADO.</span></span>
                </div>
            </center>
            <center>
            <div class="subtitle">
                <span>Parabéns, você foi um dos 50 selecionados a ganhar nosso:</span>
            </div>
            </center>
            <center>
            <div class="subtitle-2">
                <span>CURSO GRÁTIS + SALA VIP DE TREINAMENTO GRATUITA + SUPORTE EXCLUSIVO DA MINHA EQUIPE.</span>
            </div>
            </center>
            <center>
            <div class="last-headline">
                <span>Receba seu acesso usando o aplicativo WHATSAPP <span style="font-style: italic;">clicando no botão abaixo:</span></span>
            </div>
            </center>
            <div class="button">
                <a href="{% url 'pressell-pixel' %}"><input type="button" value="ENVIAR MENSAGEM NO WHATSAPP"></a>
            </div>
        </div>
    </div>
</body>

</html>