@media only screen and (min-width: 600px) {
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100%;
    margin: 0;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .top {
    width: 100%;
    height: 35px;
    background-color: rgb(0, 162, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px
  }

  #frag {
    font-size: 45px;
    background-color: rgb(0, 162, 255);
    color: white;
    font-weight: bolder;
    border: 2px solid rgb(0, 162, 255);
    border-radius: 5px;
  }

  .title {
    font-size: 45px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .subtitle {
    font-size: 35px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .video video{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 400px;
    background-color: rgba(240, 255, 255, 0.342)
  }

  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
  }

  .top,
  .title,
  .subtitle,
  .video {
    position: relative;
    z-index: 1;
    /* Outros estilos da sua escolha */
  }

  #notification {
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 0px;
    background-color: rgb(0, 162, 255);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    animation: slide-in 0.5s forwards;
    z-index: 1000;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.315);

  }

  @keyframes slide-in {
    from {
      right: -300px;
    }

    to {
      right: -2px;
    }
  }

  .app img{

    width: 200px;
  }
  #app1{
    transform: translateY(-5px);
    height: 67px;
    width: 210px;
  }

  input{
    background-color: rgb(86, 153, 216);
    color: aliceblue;
    font-weight: bold ;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
    margin-bottom: 10px;
  }
  input:hover{
    background-color:rgb(60, 142, 219) ;
  }
  #meuBotao{
    display: none;
  }
  #container-app{
    transform: translateY(250%);
  }
  .whatsapp {
    cursor: pointer;
    z-index: 100;
    position: fixed;
    bottom: 10%;
    right: 5%;
    transition: 200ms;
  }
  .whatsapp:hover{
    scale: 1.1;
  }
  .whatsapp img {
    width: 80px;
    height: 80px;
  }
}
