@media only screen and (min-width: 350px) and (max-width: 500px) {
    table {
        margin: 0 auto;
        position: absolute;
        top: 110vw;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 69vw;
    }

    .container {
        scale: 0.5;
        width: 90vw;
    }


    td {
        padding: 10px;
    }


    .svg-left {
        position: absolute;
        top: 10px;
        left: 0;
        left: -50%;
    }

    .svg-right {
        position: fixed;
        top: 700px;
        right: 0;
        right: -50%;
    }

    #countdown {
        min-height: 4ch;
        font-size: 22px;
        opacity: 0;
        margin-top: 150vw;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        min-width: 90vw;
        align-items: center;
        justify-content: center;
        display: flex; /* altera o comportamento padrão da imagem para não ser um elemento flexível */
        margin: 2 auto;
    }

    #p {
        font-size: 25px;
        white-space: nowrap;

    }

    .paragraph {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px solid rgba(0, 0, 0, 0.425);
        border-top-color: #3498db;
        animation: spin 2s ease-in-out infinite;
    }
    input.bnt {
        min-width: 140%;
        margin-top: -25vw;
    }

    #loading {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(26, 26, 26, 0.623);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }

    #loading-text {
        color: #fff;
        font-size: 12px;
        margin-bottom: 0;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

}
    .borda{
        min-width: 180vw;
        height: -20vw;

    }


@media only screen and (min-width: 1100px) and (max-width: 3000px) {

    .container-img img{
        transform: translatey(-50%);
      }
      .borda{
        min-width: 50vw;
        height: -20vw;

    }

      
}