@media only screen and (min-width: 300px) and (max-width: 700px){
    .container{
        margin: 25% auto;
        max-width: 65%;
        scale: 1.1;
        padding: 5%;
    }
    .button input{
        display: flex;
        margin: 0 auto;
    }
}