@media only screen and (min-width: 300px) and (max-width: 700px) {
    #borda{
        min-width: 100%;
        transform: translateY(25%);
        scale: 0.9;
        margin-left: 0;

    }
    #last-result, #last-result-container{
        transform: translateY(10px);
        min-height: 100px;
        margin-left: 5px;
        width: 400px;
    }
    #button2{
        min-height: 60px;
        max-width: 95%;
        transform: translateY(-10px);
    }
    #last-result-container {
        width: 350px;

    }
    .cor{
        font-size: 60px;
    }
    #lastgame{
        transform: translateY(50px);
    }
    .alerta{
        transform: translateY(80px);
    }
}