@media only screen and (min-width: 300px) and (max-width: 700px) {
    table {
        transform: translateY(50px);
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 69vw;
    }

    .container {
        scale: 0.5;
        width: 90vw;

    }

    td {
        padding: 6px;
    }


    .svg-left {
        position: absolute;
        top: 10px;
        left: 0;
        left: -50%;
    }

    .svg-right {
        position: fixed;
        top: 700px;
        right: 0;
        right: -50%;
    }

    #countdown {
        min-height: 4ch;
        font-size: 22px;
        opacity: 0;
        transform: translateY(-590px);
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 50%;
        align-items: center;
        justify-content: center;
        display: flex; /* altera o comportamento padrão da imagem para não ser um elemento flexível */
        margin: 2 auto;
    }

    #p {
        font-size: 25px;
        white-space: nowrap;

    }

    .paragraph {
        transform: translateY(60px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px solid rgba(0, 0, 0, 0.425);
        border-top-color: #3498db;
        animation: spin 2s ease-in-out infinite;
    }
    input.bnt {
        min-width: 160%;
        margin-top: 15vw;
  
    }

    #loading {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #1b445fc2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }

    #loading-text {
        color: #fff;
        font-size: 16px;
        margin-bottom: 0;
        
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

}
    .borda{
        min-width: 180vw;
        height: -20vw;

    }
    .borda-table{
        transform: translateY(50px);
        height: 540px;
        position: flex;
    }
    #acessar-plataforma{
        margin-top: 155px;

      }
    #containerbuttons{
        display: none;
        margin: 130px auto;
        margin-left: 40px;


    }
    .bnt-links1{
        min-width: 25ch; 
        margin-right: 1ch;

    }
    .bnt-links{
        min-width: 25ch; 
        margin-right: 1ch;

    }


@media only screen and (min-width: 1100px) and (max-width: 3000px) {

    .container-img img{
        transform: translatey(-50%);
      }
      .borda{
        min-width: 50vw;
        height: -20vw;

    }
    #countdown{
        width: 60%;
    }
    .borda-table{
        transform: translateY(-0px);
        height: 540px;
        position: flex;
    }

    #acessar-plataforma{
        margin-top: 130px;

      }
    input.bnt{
        min-width: 45vw; 
    }
    
}