body {
  max-height: 100vh;
  background-image: linear-gradient(to right, #0780CC, #0256D8);
}
td {
  padding: 7px;

}
.svg-container {
  position: fixed;
  top: 15%;

  transform: translate(-50%, -50%);
}

table {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20vw;
}

td:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;

}

.container {
  margin-top: -295px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 0.45;
  width: 100vw;
}

.borda {
  height: 135ch;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.315);
  border-radius: 30px;
  max-width: 100%;
  display: absolute;
  background-image: linear-gradient(to left,  #0780CC, #0256D8);
  
  margin-bottom: 0;
}
.borda-table{
  margin: 0 auto;
  width: 90%;
  height: 540px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0780CC, #0256D8);
}


input.bnt {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 36vw;
  min-height: 6ch;
  border-radius: 10px;
  color: aliceblue;
  font-weight: normal;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  margin-top: 2vw;
  border: 2px solid rgb(255, 255, 255);
  background-color: #302f2f00;
  font-weight: bold;

}

input.bnt:hover {
  background-color: #fff;
  color: black;
  transition: 500ms;

}

.animated-star2 {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-star {
  animation-name: rotateIn;
  animation-duration: 1s;
}

@keyframes rotateIn {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0);
  }
}

#countdown {
  opacity: 0;
  min-height: 3ch;
  display: flex;
  transform: translateY(-640px);
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #d2d392;
  border-radius: 15px;
  color: rgb(41, 41, 41);
  font-size: 26px;
  /* altera o comportamento padrão da imagem para não ser um elemento flexível */
  margin: 0 auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.685);
  border-top-color: #3498db;
  animation: spin 2s ease-in-out infinite;
}

#loading {
  display: none;
  position: fixed;
  top: 8%;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #1b445f96;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


#loading-text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  font-family: monospace;
  font-weight: bold;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.svg-left {
  position: fixed;
  bottom: 2vw;
  left: 0;
  left: 0%;
  opacity: 0.7;
  
}

.svg-right {
  position: fixed;
  top: 4vw;
  right: 0;
  right: 0%;
  opacity: 0.7;
  transform: rotate(180deg)
}

#p {
  min-height: 3ch;
  display: flex;
  opacity: 1;
  color: white;
  font-weight: bolder;
  align-items: center;
  font-size: 26px;

}

.paragraph {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
  width: 100%;
  font-size: 35x;

}

img {
  display: block;
  /* altera o comportamento padrão da imagem para não ser um elemento flexível */
  margin: 0 auto;
  /* centraliza a imagem horizontalmente */
  max-width: 360px;
  /* garante que a imagem não ultrapasse a largura do contêiner */
  max-height: 360px;
  /* garante que a imagem não ultrapasse a altura do contêiner */
}

#notification {
  position: fixed;
  bottom: 40px;
  right: 0px;
  background-color: rgb(104, 189, 196);
  color: white;
  padding: 10px;
  border-radius: 0px;
  display: none;
  animation: slide-in 0.5s forwards;
  z-index: 1000;
  font-weight: bold;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.315);
}

@keyframes slide-in {
  from {
    right: -300px;
  }

  to {
    right: 0px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  color: #fff;
}
#acessar-plataforma{
  margin-top: 0px;
  background-color: rgba(0, 238, 255, 0.507);
  color: #fff;
  font-weight: bold;
}
#containerbuttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  transform: translateY(-2.4vw);;
}

.bnt-links1 {
  margin: 0;
  min-height: 7ch;
  padding: 0;
  min-width: 40vw; /* alterado para 40vw */
  cursor: pointer;
  background-color: transparent;
  border-color: #fff;
  color: rgb(255, 255, 255);
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
}

.bnt-links {
  min-width: vw; /* alterado para 40vw */
  margin: 0;
  min-height: 7ch;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-color: #fff;
  border: 3px solid #fff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
}


.bnt-links:hover, .bnt-links1:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 500ms;

}