{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker das Minas | Melhor do Mercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vsl/style.css' %}">

</head>

<body>
    <div class="ultrasecreto">
        <img src="{% static 'vsl/img/ultrasecreto.png' %}" alt="">
    </div>
    <div class="subtitulo">
        <span style="color: orange">VOCÊ NUNCA MAIS VAI SOFRER COM A FALTA DE DINHEIRO NA SUA</span><span style="color: red"> CONTA BANCÁRIA !!!</span></span>
    </div>
    <div class="paragrafo">
        <span>
            EU DESENVOLVI UM SOFTWARE QUE VAI TE FAZER GANHAR MAIS DE <span style="color: rgb(15, 228, 15)">15 SALÁRIOS</span> POR MÊS DIRETO DO CONFORTO DA SUA CASA.
        </span>
    </div>
    
</body>
<footer class="bg-dark text-white text-center text-lg-start">

    <!-- Copyright -->
    <div class="text-center p-6" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 - 2026 Copyright:
      <a class="text-white" href="http://www.hackdasminas.com">www.hackdasminas.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
  </html>
</html>