{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<head>
    <title>Hack das Minas</title>
    <link rel="shortcut icon" href="{% static 'mines/img/logo.png' %}" type="image/x-icon">
</head>

<head>

    <link rel="stylesheet" href="{% static 'vsl/style.css' %}">
    <link rel="stylesheet" href="{% static 'vsl/media.css' %}">

    <script src="{% static 'vsl/index.js' %}"></script>
</head>

<body>
    <div id="particles-js"></div>
    <div class="top">
         <span style="font-weight: bold; color: lawngreen;">
            <span>Esse video  exclusivo</span>
            <span style="font-weight:normal; color:rgb(255, 255, 255)"> sairá do ar </span>
            <span style="font-weight: bold; color: rgb(9, 255, 0);">em
                breve!</span>
        </span>

    </div>

    <div class="title">
        <center>
            <span id="frag"> VOCÊ GANHOU O ACESSO <span id="frag-inner"> GRATUITO AO HACKER DAS MINAS.</span> </span>
    </div>
    <div class="subtitle">
        <center>
            <span>O APLICATIVO SERÁ LIBERADO AO FINAL DESTE VÍDEO DE 3 MINUTOS</span>
    </div>
    <div class="video">
        <video src="caminho/do/video.mp4" controls></video>
    </div>
    <div class="button">
        <center>
            <a href="http://" target="_blank" rel="noopener noreferrer"><img src="{% static 'vsl/img/button.png'%}"
                    alt="button"></a>
    </div>
    <div id="notification"></div>
    <div class="app">
        <center>
        <img id="app1" src="{% static 'vsl/img/Apple.png' %}" alt="applestore">
        <img id="app2" src="{% static 'vsl/img/Playstore.png' %}" alt="playstore">
    </div>
</body>

<script>
    particlesJS.load('particles-js', "{% static 'vsl/config.json' %}", function () {
        console.log('particles.js loaded - callback');
    });
</script>

</html>